.wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

.wrapper:hover {
  transform: translateY(-5px);
}

.imgCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
